.savebtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-history-dropdown .css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
  color: black;
}
.css-ekeie0 {
  display: block !important;
}
.css-uhb5lp {
  max-width: inherit !important;
}
