.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  width: 100%;
}
.logoimg img {
  width: 300px;
  display: flex;
  margin: auto;
}
.card-description {
  text-align: center;
}
.MuiDialog-paperWidthSm {
  width: 100%;
  max-width: 50% !important;
}
