h5.MuiTypography-root.MuiTypography-h5.MuiTypography-gutterBottom.css-h93ljk-MuiTypography-root,
h6.MuiTypography-root.MuiTypography-h6.css-2ulfj5-MuiTypography-root {
  display: flex;
  justify-content: center;
  align-items: center;
}
.description {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
