img.logo {
  width: 30%;
}
.css-zow5z4-MuiGrid-root > .MuiGrid-item {
  margin-top: 30px;
}
.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-10.css-11reh94-MuiGrid-root {
  margin-left: 5%;
}
.btn-More {
  width: 7%;
  height: 50px;
}
